@import "base/variables";

@import "../node_modules/bootstrap/scss/bootstrap"; 

@import "base/base";


@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/bage";
@import "components/forms";
@import "components/tables";

@import "layout/footer";
@import "layout/topmenu";
@import "layout/toplogo";
@import "layout/mainmenu";

@import "pages/riskregister";





