.rr {
    font-size: 1.4rem;
    
    a{
        text-decoration: none;
    }

    &__header {
        font-size: 1rem;
    }

    

    &__danger:link, &__danger:visited {
        color: $danger;
    }

    &__danger:hover, &__danger:active {
        color: darken($danger, 10%);
    }

    &-site {
        font-weight: 500;
    }

    &-item {

        &__icon {
            margin-right: .5rem;
        }
        
        &__count {
            font-size: 1.2rem;
            font-weight: 400;
            padding-top: .2rem;
        }

    

        transition: all .2s;
       
        &:hover {
            background-color: rgba(248,231,28,.1);
        }
        
        &__active{
            background-color: $light;

             &:hover {
                 background-color: rgba(137,146,0,.1);
            }
        }

      
    }

    &-bage {
        color: $primary;

        &__high{
            color: $danger;
            font-weight: 400;
        }

        &__medium{
            color: $warning;
            font-weight: 400;
        }

        &__low{
            color: $dark-blue;
            font-weight: 400;
        }

    }


    &-risk{
        font-size: 1.2rem;

        &__text{
            font-size: 1.4rem;
            color: $body;  
        }

        

    }

    
    

}


.dropdown-menu {
    font-size: 1.4rem;
}

.pt-second {
    padding-top: 2rem;
}
